{% block bash %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="上海柏连艾广告,广告,广告制作">
    <meta name="description" content="针对各行业的设计与输出，
    拥有17年的行业沉淀，是广告业的环保先锋，专注于精品的制作。
    所服务的对象包含了奢侈品行业、化妆品行业、服装行业、互联网行业等等。
    我们拥有专业的设计团队和客服专员、优秀的输出设备和安装团队以及高效的售后服务。
    我们的安装团队覆盖了中国各个地区，可提供迅捷的安装服务。目前，我司办公区域和生产车间面积已达6000㎡、员工200余人。
    我们拥有国内顶尖的输出设备和高效的办公模式来更提供优质的服务"
    >
    <title>上海柏连艾广告有限公司</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="..\static\logoinner.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">配置邮箱</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="send">发送邮件<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="help">上传附件</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script>
  </body>
</html>
{% endblock %}