{% extends "bash.html" %}
{% block bash %}
{{ super()}}
<div class="container">
    <h2 style="margin: 10px;">您使用的账户是:{{ username }}</h2>
    <form action="send" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlFile1">收件人CSV</label>
            <input name="file" type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">主题</label>
          <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <textarea name="editor1" id="editor1" rows="40" cols="80">
            This is my textarea to be replaced with CKEditor.
          </textarea>
          <script>
            // 用CKEditor替换<textarea id="editor1">
            // 使用默认配置
            CKEDITOR.replace('editor1');
          </script>
        <button type="submit" class="btn btn-primary">发送</button>
      </form>
      <p>文件内容是:{{ content }}</p>
</div>

{% endblock %}